###############################################################################
# AWS Configuration
###############################################################################

aws_region = "ap-south-1"

###############################################################################
# Existing S3 Bucket
###############################################################################

bucket_name = "inspect-lens-demo-dev-055255093542-ap-south-1-an"

###############################################################################
# Resource Tags
###############################################################################

tags = {

  Project = "Inspect Lens"

  Environment = "Development"

  Owner = "DevOps Team"

}

####################################################
# IAM
####################################################

iam_user_name = "inspect-lens-dev"

iam_group_name = "inspect-lens-s3-developers"

####################################################
# policy_arns
####################################################

policy_arns = [

  "arn:aws:iam::aws:policy/AmazonS3FullAccess",

  "arn:aws:iam::aws:policy/AmazonSESFullAccess"

]